
   .box {
    margin: 10px;
    padding: 10px;
    /* background-color:white; */
  }

  #grad1 {
    height: 200vh;
    background: linear-gradient(125deg, #3fbb73, #a0a9b3, #2c3e50);

  }

  #btnSubmit {
    /* height: 200vh; */
    background: linear-gradient(75deg, #566573, #3e6083);
  }

  #navBar {
    /* height: 200vh; */
    background: linear-gradient(30deg, #566573, #566573);
  }

  .textColor {
    color: white;
  }